.item {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(55%, 55%, 55%, 0.5);
  margin-bottom: 10px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 10px;
}
.isOnline {
  composes: status;
  background-color: green;
}
.isOfline {
  composes: status;
  background-color: red;
}
.avatar {
  margin-left: 20px;
}

.name {
  font-weight: 700;

  margin-left: 10px;
}
