.tableRow {
  background-color: rgb(201, 227, 231);
}

.tableRow:nth-child(2n) {
  background-color: rgb(184, 236, 204);
}

.tableData {
  min-width: 200px;
  font-size: 17px;
  font-weight: 600;
  color: rgb(126, 126, 89);
  padding: 10px;
}
